.header-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(50,77,92);
    color: white;
    font-family: Helvetica, sans-serif;
}
h2 {
    font-weight: 400;
    margin: 10px;
}
a {
    color: white;
    text-decoration: none;
}

img {
    width: 25px;
}
